.background {
  background-color: blue; 
  width: 70%;
  margin: auto;
  border-radius: 20px;
  padding: 5vh 20vh;
}
.background h1{
  color: white;
}
.background{
  animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: black;
}
@keyframes colorchange{
  0%{
    background-color: antiquewhite;
  }
  25%{
    background-color: rgb(243, 148, 24);
  }
  50%{
    background-color: rgb(39, 24, 5);
  }
  75%{
    background-color: antiquewhite;
  }
  100%{
    background-color: rgb(255, 93, 12);
  }
}
.box{
  background-color: rgb(179, 2, 233);
  width: 40vh;
  border-radius: 20px;
  display: inline;
  margin-left: 2vh;
  padding: 2vh 10vh;
  margin: auto;
  margin-bottom: 5vh;
  text-align: start;
  box-shadow: 10px 10px gray;
  color:antiquewhite;
}
.box:hover {
  /* background-color: aqua; */
  animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: black;
}
@keyframes colorchange{
  0%{
    background-color: #444;
  }
  25%{
    background-color: #ba2c2c;
  }
  50%{
    background-color: #1242dd;
  }
  75%{
    background-color: #e711b5;
  }
  100%{
    background-color: #14da28;
  }
}
.box-main{
  height: 30%;
  margin: auto;
}
.ul-list{
  list-style: none;
  display: inline;
}